h1{
  font-size: 100px;
  
  @media (max-width: 780px){
    font-size: 4.5rem;
  }
}

h2{
  font-size: 62px;
  span{
    font: 20px;
  }
}

h3{
  font-size: 28px;
}

p{
  font-size: 18px;
}

span{
  font-size: 14px;
}